#this file stages the directories to be ignored
#ignore the file under the out directory
out/*
out/
#ignore files that end with "~" sign
*~
#ignore test files, which should always contain the string "Test" in them
*Test*
#ignore files under the bin directory
bin/
bin/*
.idea*
/src/nbproject/private/
~workspace.xml
